@charset "utf-8";

#sample{
	border:1px solid #666;
	width:220px;
	font-size:12px;
	font-family:"Microsoft Yahei";
	padding:0;
	color:#333;
	position:relative;
}
#sample legend{margin-left:10px;}

#fm-artist{float:left;margin:0px 6px;font-size:18px;display:inline-block;overflow:hidden;width:170px; text-overflow:ellipsis;white-space:nowrap;}
#fm-album{}
#fm-from{color:#666;}
#fm-title{display:block;color:#009966;margin-top:10px;margin-bottom:5px;}

#progressbar{
	margin:0px 5px;
	width:210px;
	height:2px;
	background-color:#eee;
}
#played{
	height:inherit;
	background-color:#9dd6c5;
	float:left;
}
#paused{
	display:inline-block;
	float:right;
	margin:-8px 10px 0 0;
	cursor:pointer;
	
}
#paused:hover{background-color:#b8f1e0;}
#timevol{
	text-align:right;
	line-height:27px;
	height:27px;
	padding-right:5px;
}
#timeleft,#volbtn{
	display:block;
	float:right;
	margin:auto 1px;
	z-index:20;
}
#fm-like-i{
	float:left;
	margin-left:6px;
	margin-top:7px;
	cursor:pointer;
}

#volbtn{font-size:18px;cursor:pointer;}
#volumn{
	float:right;
	height:3px;
	width:50px;
	background-color:#eee;
	cursor:pointer;
	margin-top:12px;
	margin-left:3px;
	
}
#volumn-c{
	height:inherit;
	width:25px;
	background-color:#333333;
	cursor:pointer;
}

.playrow{
	display:inline-block;
	float:right;
	margin:3px;
	padding:3px;
	border:1px solid #999;
	text-align:center;
	cursor:pointer;
}
.fm-ctn,.fm-songlist-p{
	display:none;
	z-index:100;
	position:absolute;
	text-align:center;
	width:inherit;
	height:184px;
	line-height:184px;
	vertical-align:middle;
	margin-top:-8px;
	background-color:rgba(255,255,255,0.6);
	cursor:pointer;
	bottom:0;
}
.fm-songlist-p{
	text-align:left;
	line-height:1.5em;
	cursor:default;
	background-color:rgba(255,255,255,0.8);
}
.fm-songlist-q{border:1px solid #999;width:auto;height:auto;line-height:1.2em;float:left;margin:3px;cursor:pointer;padding:3px;text-align:center;}
.fm-songlist-c{color:#ff0000;}
#fm-songlist{position:absolute;bottom:3px;left:3px;border:1px solid #999;cursor:pointer;padding:3px;}
.playrow:hover,#fm-songlist:hover,.fm-loop-c{color:#0cf;}
.playrow span{display:block;height:25px;vertical-align:middle;}
.playrow span svg{margin-top:4px;}
.clear{clear:both;}