@charset "utf-8";



/*idlelife fm*/

#idlelife-fm{
	margin-left: 200px;
}
.idlelifefm{
	border:1px solid #666;
	width:220px;
	height: 191px;
	font-size:12px;
	font-family:"Microsoft Yahei";
	padding:0;
	color:#333;
	position:relative;
}
.idlelifefm legend{margin-left:10px;}

.fm-panel{float: left;margin:0px 6px auto 6px;overflow:hidden;width:208px;height:90px ;text-overflow:ellipsis;white-space:nowrap;}
.fm-artist{font-size:18px;overflow:hidden;width:170px; text-overflow:ellipsis;white-space:nowrap;}
.fm-album{}
.fm-from{color:#666;}
.fm-title{display:block;color:#009966;margin-top:10px;margin-bottom:5px;}


.progressbar{
	margin:0px 5px;
	width:210px;
	height:2px;
	background-color:#eee;
}
.played{
	height:inherit;
	background-color:#9dd6c5;
	float:left;
}
.paused{
	position: absolute;
	display:inline-block;
	top: 8px;
	right: 10px;
	cursor:pointer;
}

@-moz-document url-prefix() {
  .paused {top: -8px;}
}

.paused:hover rect:first-child{
	fill: #b8f1e0;
}

.timevol{
	text-align:right;
	line-height:27px;
	height:27px;
	padding-right:5px;
}
.timevol:hover .volume{
	width: 50px;
}
.timevol:hover .timeleft{
	display: none;
}
.timeleft,.volbtn{
	display:block;
	float:right;
	margin:auto 1px;
	z-index:20;
}

.fm-heart{
	float:left;
	margin-left:6px;
	margin-top:3px;
	cursor:pointer;
}

.fm-heart svg path{
	stroke: #999;
	fill: none;
}

.fm-heart:hover svg path{
	stroke: #f33 !important;
}

.fm-heart-active svg path{
	stroke: transparent;
	fill: #f33;
}

.fm-heart-active:hover svg path{
	stroke: transparent !important;
}

.volbtn{font-size:18px;cursor:pointer;}
.volume{
	float:right;
	height:3px;
	width:0;
	cursor:pointer;
	margin-top:12px;
	margin-left:3px;
	transition: .3s;
}


.playrow{
	display:inline-block;
	float:right;
	margin:0 3px 3px;
	padding:3px;
	height: 42px;
	border:1px solid #999;
	text-align:center;
	cursor:pointer;
}

.fm-ctn,.fm-songlist-p{
	display:none;
	z-index:100;
	position:absolute;
	text-align:center;
	width:inherit;
	height:183px;
	line-height:182px;
	vertical-align:middle;
	margin-top:-6px;
	background-color:rgba(255,255,255,0.6);
	cursor:pointer;
	bottom:0;
}
.fm-songlist-p{
	text-align:left;
	line-height:1.5em;
	cursor:default;
	background-color:rgba(255,255,255,0.8);
}
.p-active{
	display: block;
}
.fm-songlist-q{
	position: absolute;
	z-index: 101;
	bottom: 3px;
	right: 3px;
	border:1px solid #999;width:auto;height:auto;line-height:1.2em;float:left;margin:3px;cursor:pointer;padding:3px;text-align:center;}
.fm-songlist-c{color:#ff0000;}
.fm-songlist{position:absolute;bottom:3px;left:3px;border:1px solid #999;cursor:pointer;padding:3px;}
.playrow:hover,.playrow-active,.fm-songlist:hover{color:#0cf;}
.playrow:hover path,.playrow-active path{fill:#0cf;}
.playrow .svgcon{display:block;height:25px;line-height: 25px;vertical-align:middle;}
.playrow .svgcon svg{margin-top:4px;}
.clear{clear:both;}
